<div class="card" *ngIf="flight">
  <div class="header">
    <div class="header-top">
      <span class="plane-num">{{ flight.flightNumber }}</span>
      <span class="airports"
        >{{ flight.departureTimeInfo.airport }} — {{ flight.arrivalTimeInfo.airport }}</span
      >
    </div>
    <div class="header-bottom" *ngIf="flight.departureTimeInfo as depart">
      <span>{{ depart.date | date : 'EEEE, d MMMM, y' : timezone(depart.timezone) }}</span>
      <span
        >{{ depart.date | date : 'H:mm' : timezone(depart.timezone) }} -
        {{
          flight.arrivalTimeInfo.date | date : 'H:mm' : timezone(flight.arrivalTimeInfo.timezone)
        }}</span
      >
    </div>
  </div>
  <div class="passenger" *ngFor="let passenger of passengersInfo; let i = index">
    <p class="name">{{ passenger.firstName | uppercase }} {{ passenger.lastName | uppercase }}</p>
    <div class="info">
      <span *ngIf="passenger.baggage">1 checked bag (total 23 kg) included</span>
      <span>1 cabin bag + 1 personal item (max. 8 kg) included</span>
      <span *ngIf="passenger.baggageAmount">Extra baggage {{ passenger.baggageAmount }}kg</span>
      <span>Seat {{ seats[i] }}</span>
    </div>
  </div>
</div>
