.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 88px;
  background-color: rgb(255 255 255);
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  max-width: 1200px;

  @media (width <= 420px) {
    flex-direction: column;
    gap: 5px;
  }
}

.payments-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.text-copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: rgb(17 57 126);
}

.text-accept {
  color: rgb(0 0 0);

  @media (width <= 420px) {
    display: none;
  }
}

.img-pay {
  width: 35px;
}
