<div class="footer">
  <div class="content-wrapper">
    <span class="text-copyright">© 2023, AIRWAY. All rights reserved</span>
    <div class="payments-wrapper">
      <span class="text-accept">We accept these payment methods</span>
      <img src="/assets/master-pay.svg" alt="master-pay" class="img-pay" />
      <img src="/assets/pay-pay.svg" alt="pay-pay" class="img-pay" />
      <img src="/assets/american-pay.svg" alt="american-pay" class="img-pay" />
      <img src="/assets/visa-pay.svg" alt="visa-pay" class="img-pay" />
    </div>
  </div>
</div>
