.pass-option {
  display: flex;
  justify-content: space-between;
  width: 180px;

  .pass-left-wrapper {
    display: flex;
    flex-direction: column;
  }

  .pass-right-wrapper {
    display: flex;
    align-items: center;
  }
}

.age {
  font-size: 14px;
  opacity: 0.5;
}
