<div class="header" [ngClass]="{ active: isScrolled }">
  <div class="content-wrapper">
    <div class="logo-wrapper" (click)="logoClick()">
      <div class="logo-circle">
        <img src="/assets/logo_plane.png" alt="logo" class="logo-plane" />
      </div>
      <img src="/assets/airways.png" class="airways" alt="airways" />
    </div>
    <app-progress *ngIf="isBookingUrl"></app-progress>
    <nav class="nav-wrapper">
      <span *ngIf="!isBookingUrl" class="nav-text">Book flights</span>

      <!-- <mat-form-field class="date-input" appearance="outline">
        <mat-select
          class="select"
          value="MM/DD/YYYY"
          (selectionChange)="setUserSettings($event.value, 'date')"
        >
          <mat-option class="option" value="MM/DD/YYYY">MM/DD/YYYY</mat-option>
          <mat-option class="option" value="DD/MM/YYYY">DD/MM/YYYY</mat-option>
          <mat-option class="option" value="YYYY/DD/MM">YYYY/DD/MM</mat-option>
          <mat-option class="option" value="YYYY/MM/DD">YYYY/MM/DD</mat-option>
        </mat-select>
      </mat-form-field> -->

      <mat-form-field class="currency-input" appearance="outline">
        <mat-select
          class="select"
          value="eur"
          (selectionChange)="setUserSettings($event.value, 'currency')"
        >
          <mat-option class="option" value="eur">EUR</mat-option>
          <mat-option class="option" value="usd">USD</mat-option>
          <mat-option class="option" value="rub">RUB</mat-option>
          <mat-option class="option" value="pln">PLN</mat-option>
        </mat-select>
      </mat-form-field>

      <button
        *ngIf="!userIsLogged"
        mat-stroked-button
        class="btn-signin"
        (click)="openAuthDialog()"
      >
        <mat-icon class="person-icon">person</mat-icon>
        Sign in
      </button>
      <button *ngIf="userIsLogged" mat-stroked-button class="btn-signout" (click)="logOut()">
        <!-- <span>{{ userName }} |</span> -->
        <mat-icon class="person-icon">person</mat-icon>
        Sign out
      </button>

      <mat-icon class="basket" routerLink="user">shopping_basket</mat-icon>
    </nav>
  </div>
  <app-main-search-box *ngIf="isEdit$ | async" [isHeaderForm]="true"></app-main-search-box>
</div>
