<div [class.edit]="!showSlider" class="flight-info" *ngIf="flightInfo">
  <div class="flight-info-wrapper">
    <div class="departure-info">
      <app-flight-info [timeInfo]="flightInfo.departureTimeInfo"></app-flight-info>
    </div>
    <div class="flight-time-info">
      <p class="time">{{ flightTime }}</p>
      <div class="time-img">
        <img src="assets/flight-card/plane.svg" alt="plane" [class.back]="isBack" />
      </div>
      <p class="type">Direct</p>
    </div>
    <div class="arrival-info">
      <app-flight-info [timeInfo]="flightInfo.arrivalTimeInfo" [isArrival]="true"></app-flight-info>
    </div>
    <div class="flight-number">
      <p>
        Flight no. <span>{{ flightInfo.flightNumber }}</span>
      </p>
    </div>
  </div>
  <div class="flight-price">
    <div class="price-info">
      <div
        appQuantityIndicator
        [quantity]="flightInfo.seats"
        [withOpacity]="true"
        class="seats-wrapper"
      >
        <p>{{ flightInfo.seats }} seats<br />available</p>
      </div>
      <p class="price-title">Price</p>
      <p class="price">{{ flightInfo.price.eur | currency : 'EUR' }}</p>
    </div>
    <button type="button" (click)="onClick()">
      {{ showSlider ? 'Select' : 'Edit' }}
    </button>
  </div>
</div>
