.wrapper {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
  background-image: url("/assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
