<mat-dialog-content class="auth_wrapper">
    <header>
      <mat-button-toggle-group class="header_buttons" name="autharization">
        <mat-button-toggle class="header__button" checked="true" value="logIn" #login
          >Log in</mat-button-toggle
        >
        <mat-button-toggle class="header__button" value="signUp" #signUp>Sign up</mat-button-toggle>
      </mat-button-toggle-group>
    </header>
    <div class="OAuth_wrapper">
      <asl-google-signin-button type='standard' size='medium' text="continue_with" width="400" logo_alignment="center" locale="en" id="googleButton"></asl-google-signin-button>
      <button mat-stroked-button class="header__button OAuth__button fb" id="fbButton" (click)="signInWithFB()">
        Continue with Facebook
      </button>
    </div>
    <app-login *ngIf="login.checked" ></app-login>
    <app-register *ngIf="signUp.checked"></app-register>
  </mat-dialog-content>
  
