:host {
  display: flex;
  margin: 0 auto;
  max-width: 495px;
  max-height: 1055px;
}

* {
  width: 100%;
}

.forgot__pass {
  display: flex;
  justify-content: flex-end;
  color: #11397e;
}

.phone-container {
  display: flex;
  gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  height: fit-content;
}

.changing__content {
  flex-direction: column;
}

hr {
  overflow: visible;
  border: 1px solid #e1e5eb;
  height: 1px;
  text-align: center;
  color: #333;
}

hr::after {
  position: relative;
  top: -13px;
  padding: 0 4px;
  background: #fff;
}

.login__hr::after {
  content: 'or log in with your email';
}

.fb::before {
  content: url('../../../assets/facebbok_24px.png');
  display: inline-block;
  margin-top: 5px;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
}

.google::before {
  content: url('../../../assets/google_24px.png');
  display: inline-block;
  margin-top: 5px;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
}

.form__button {
  border-radius: 4px;
  width: 99%;
  height: 44px;
  color: #fff;
  background: #11397e;
}

mat-form-field {
  min-width: 120px;
}
