<div class="pass-option">
  <div class="pass-left-wrapper">
    <div class="passenger">{{ config.title }}</div>
    <div class="age">{{ config.age }}</div>
  </div>
  <div class="pass-right-wrapper">
    <button
      mat-icon-button
      color="primary"
      aria-label="minus"
      (click)="changePassengers(config.title, 'remove')"
    >
      <mat-icon>remove</mat-icon>
    </button>
    <span>{{ passengers[config.key] }}</span>
    <button
      mat-icon-button
      color="primary"
      aria-label="plus"
      (click)="changePassengers(config.title, 'add')"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
