:host {
  display: block;
  padding-bottom: 25px;
  width: 100%;
  background-color: #fff;
}

.passenger__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 25px;
  gap: 24px;
}

.gender {
  height: 56px;
}

.gender__button {
  display: flex;
  height: 100%;
}

mat-form-field {
  min-width: 100px;
}