:host {
  display: block;
  padding-bottom: 25px;
  width: 100%;
  background-color: #fff;
}

.passenger__wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}
.gender {
  height: 56px;
}

.gender__button {
  display: flex;
  height: 100%;
}
