:host {
  display: block;
  border-radius: 8px;
  padding: 32px 44px;
  width: 100%;
  box-shadow: 0 1px 4px #0003;
  background-color: #fff;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 25px;
  gap: 24px;
}

mat-form-field {
  min-width: 100px;
}
