.passenger--logo::before {
  content: url('../../../../../assets/passenger.svg');
  margin-right: 10px;
  position: relative;
  top: 2px;
}
.passenger--contact::before {
  content: url('../../../../../assets/contact.svg');
  margin-right: 10px;
  position: relative;
  top: 2px;
}
.passengers-header {
  padding: 10px 0;
}
span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #49454f;
}
