<div class="passengers">
    <div class="passengers-wrapper">
        <div class="passengers-header">
            <h2 class="passenger--logo">Passengers</h2>
            <span>Enter the passenger's names as they appear on document (passport or ID). </span>
        </div>
        <div class="passengers-body">
            <div class="passengers-info passengers-adult">
                <app-passengers-info></app-passengers-info>
            </div>
        </div>
        <div class="passengers-header">
            <h2 class="passenger--contact">Contact details</h2>
            <span>We need contact details to be able to deliver the latest information regarding your flight. </span>
        </div>
        <div class="passengers-body">
            <app-passengers-contacts></app-passengers-contacts>
        </div>
    </div>
</div>

