<div class="content-wrapper">
  <div class="wrapper-shadow">
    <div class="top-block">
      <p class="cart-caption">Cart</p>
    </div>

    <div class="table-top-block">
      <div *ngFor="let tabName of tabNames" class="column-name">
        <span>{{ tabName }}</span>
        <div class="sort">
          <img src="/assets/sort-up.svg" alt="up" class="sort-up-down" />
          <img src="/assets/sort-down.svg" alt="down" class="sort-up-down" />
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
