$neutral: #000;
$neutral20: #454a53;
$neutral30: #74767a;
$neutral60: #cecece;
$neutral100: #fff;
$primary: #11397e;
$secondary0: #0090bd;
$secondary40: #d0d9df;
$secondary60: #e9edf1;
$error: #b3261e;
$highlight: #f1c933;
