<app-top-summary></app-top-summary>

<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>

<div *ngIf="step !== 'review'; else review" class="bottom-btn-wrapper">
  <button mat-button (click)="stepBack()">Back</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="
      ((isFlightsBtnValid | async) === false && step === stepEnum.Flights) ||
      (step === stepEnum.Passengers && continueButtonStatus)
    "
    (click)="stepForward()"
  >
    Continue
  </button>
</div>

<ng-template #review>
  <div class="bottom-btn-wrapper">
    <button mat-button (click)="stepBack()">Back</button>
    <button routerLink="/user/cart" mat-stroked-button color="primary">Add to order cart</button>
    <button (click)="onBuyClick()" mat-raised-button color="primary">Buy now</button>
  </div>
</ng-template>
