:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(250 250 250 / 100%);
  gap: 40px;
}

.bottom-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  width: 100%;
  max-width: 1128px;
  gap: 40px;
}
